body {
    padding: 0px;
    margin:0px;
}
/** NAVIGATION */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #171616;
    font-family: 'Poppins', sans-serif;
}
.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    background: rgb(235,0,0);
    background: linear-gradient(90deg, rgba(235,0,0,1) 0%, rgba(166,14,14,1) 48%, rgba(235,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links {
    display: flex; 
    width: 30%;
    justify-content: space-around;
}
.nav-links li {
    list-style: none;
    }
.nav-links a {
    color: #e4e4e4;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
/** container style **/
.container {
    max-width: 1440px;
    margin:auto;
}

/** SliderShow */
.slidershow_container {
    margin-top: 30px;
}
/** character hp **/
.char_container {
    margin-top: 50px;
}
.row {
    display: flex;
    justify-content: space-around;
}
.char_hp_wrapper {
    margin-top: 30px;
}
.related_item {
    text-align: center;
    padding: 0 70px 0 70px;
}
.related_item p {
    font-size: 1.2rem;
}
/** LOCATION **/
.Location_container{
    margin-top: 30px;
}
.location_item {
    margin-top:30px;

}
.location_item_img {
    margin-bottom: 20px;

}
.location_item_img img {
        border-radius: 8px;
}